.button-class-container
{
    display: flex;
    justify-content: space-between;
}
.button-class-1
{
    padding-left: 1cm;
}
.button-class-2
{
    padding-right: 1cm;
}
button
{
    height: 1cm;
    width: 4cm;
    font-size: x-small;
    padding:0.3cm;
    padding-bottom: 0.2cm;
    cursor: pointer;
    border-radius: 0.2cm;
    background-color: white;
}
button:hover 
{
    background-color: black;
    color: white;
    border-radius: 0.3cm;
}
center 
{
   font-size: large;
}
.h1
{
    padding-top: 1cm;
    font-size: x-small;
}
