.container
{
    justify-content: center;
    border-style: solid;
    border-color: black;
    background-color: white;
    text-align: center;
    margin-top: 1.5cm;
    padding-bottom: 0.5cm;
    border-radius: 0.3cm;
}
p
{
    font-size: medium;
}
.a1
{
    text-align: center;
}
.a2
{
    text-align: center;
}
.a3
{
    text-align: center;
}
.a4
{
    text-align: center;
}
button
{
    cursor: pointer;
    color: blue;
}
button:hover
{
    background-color:yellow;
}
label
{
    font-weight: bolder;
    margin-left: 1cm;
}
p
{
    color: darkblue;
}

input
{
    float: right;
    border-color: darkblue;
    margin-right: 1cm;
    border-radius: 0.1cm;
}
label
{
    display: block;
    float: left;
    text-align: right;
}

#msg1,#msg2,#msg3,#msg4
{
    color: red;
}
.button
{
    display:flex;
    gap: 1cm;
    margin-left: 3cm;
}
#b1,#b2
{
    border-radius: 0.1cm;
}